<%- include ('../partials/header') %>

<div class="">
        <img src="/Images_Appli/Logo.PNG" alt="Logo de l'application">
    </div>
    <br>

<div class="">
		<table class="menu">
            <tr>
                <th> <a href="/" class="btn btn-success btn-lg" style = "color:White;text-decoration:none"> Accueil </a> </th>
               <th> <a href="/Reservation" class="btn btn-success btn-lg" style = "color:White;text-decoration:none"> Réservation</a></th>
                <th> <a href="/Compte" class="btn btn-success btn-lg" style = "color:White;text-decoration:none"> Compte</a> </th>
				<th style="text-decoration:underline">Nous Joindre</th>
            </tr>
		</table>
	</div>
<br>

<div class="">
	<div class="col s12">

	    <h1 style="text-align:center;width:70%">
	        Avez-vous besoin de plus de renseignements nous concernant? <br> Vous avez plusieurs possibilités.
	    </h1>
	    <br>

        <table class="tables">
            <tr>
                <th><img src="/Images_Appli/courriel.png" alt="Courriel" style = "width:10%"></th>
                <th> <img src="/Images_Appli/telephone.png" alt="Telephone" style = "width:10%"></th>
                <th> <img src="/Images_Appli/adresse.jpg" alt="Adresse" style = "width:10%"></th>
            </tr>

            <tr>
                <td>airlineexpress@ae.qc.ca</td>
                <td> (514)-881-9475</td>
                <td>7 rue bocquillon <br> Montréal (QC) <br> H4J 8J2 </td>
            </tr>
        </table>

	</div>
</div>
<br>

<%- include ('../partials/footer') %>