<%- include ('../partials/header') %>

<div class="">
        <img src="/Images_Appli/Logo.PNG" alt="Logo de l'application">
    </div>
    <br>

<div class="">
		<table class="menu">
            <tr>
                <th style="text-decoration:underline">Accueil</th>
                <th> <a href="/Reservation" class="btn btn-success btn-lg" style = "color:White;text-decoration:none"> Réservation</a></th>
                <th> <a href="/Compte" class="btn btn-success btn-lg" style = "color:White;text-decoration:none"> Compte</a> </th>
				<th> <a href="/Contacts" class="btn btn-success btn-lg" style = "color:White;text-decoration:none"> Nous Joindre </a> </th>
            </tr>
		</table>
	</div>
<br>

<div class="">
	<div class="col s12">

	    <p class="titre">
	        Express Airline est une structure qui offre à ses clients la possibilité d'effectuer en ligne des réservations de vols en avion, 
			ce qui leurs permettra de gagner en temps! <br> En effet, avec Express Airline, vous pourrez reserver en aller simple ou en 
			aller-retour (avec une réduction de 5% pour les clients habituels).
	    </p>
	    <br>
        

		<p class="liens">
	        <a  href="/Reservation" class="liaison_pages" style = "float:right;"> Reserver ici </a>
		    <a  href="/Vols" class="liaison_pages" style = "float:left;"> Liste des vols  </a>
	    </p>
		
	</div>
</div>
<br>

<%- include ('../partials/footer') %>