<%- include ('../partials/header') %>

<div class="">
	<img src="/Images_Appli/logo.PNG" alt="Logo de l'application" style = "margin-left:auto;margin-right:auto">
</div>
<br>

<div class="">
		<table style="background-color:Blue;color:White;font-size:30px;width:80%;height:70px;margin-left:auto;margin-right:auto">
            <tr>
                <th style="text-decoration:underline">Accueil</th>
                <th>Réservation</th>
                <th>Compte</th>
				<th>Nous Joindre</th>
            </tr>
		</table>
	</div>
<br>



<div class="">
	<div class="col s12">

	    <p style = "width:80%;margin-left:auto;margin-right:auto;text-align:justify;font-size:40px;">
	        Express Airline est une structure qui offre à ses clients la possibilité d'effectuer en ligne des réservations de vols en avion, 
			ce qui leurs permettra de gagner en temps! <br> En effet, avec Express Airline, vous pourrez reserver en aller simple ou en 
			aller-retour (avec une réduction de 5% pour les clients habituels).
	    </p>
	    <br>

        <p style = "width:50%;margin-left:auto;margin-right:auto">
	        <img src="/Images_Appli/Liste.png" alt="Liste" style = "float:left">
		    <img src="/Images_Appli/Vols.jpg" alt="Reserver" style = "float:right">
	    </p>
	    <br>

	    <p style = "width:50%;margin-left:auto;margin-right:auto">
	        <a href="/Vols" class="btn btn-success btn-lg" style="background-color:Yellow;color:Black;font-size:30px;float:left"> Liste des vols </a>
		    <a href="/Reservation" class="btn btn-success btn-lg" style="background-color:Yellow;color:Black;font-size:30px;float:right"> Reserver ici </a>
	    </p>
	</div>
</div>
<br>

<%- include ('../partials/footer') %>